POSTGRES_DB=restaurant-manager
POSTGRES_USER=restaurant-manager
POSTGRES_PASSWORD=restaurant-manager-pwd
SERVER_PORT=8080
DB_HOST=jdbc:postgresql://postgres:5432/restaurant-manager
DB_USERNAME=restaurant-manager
DB_PASSWORD=restaurant-manager-pwd
JPA_SHOW_SQL=false
JWT_SECRET=mySecretKeyForJWTTokenGenerationMustBeAtLeast256BitsLong1234567890ABCDEFGHIJKLMNOP
JWT_EXPIRATION_MS=3600000